body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .tic-tac-toe{
  display: flex;
  justify-content: center;
  background-color: cadetblue;
} */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-row,
.second-row,
.third-row {
  display: flex;
}
.box {
  height: 100px;
  width: 100px;
  border: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.left-col {
  border-left: none;
}
.top {
  border-top: none;
}
.right-col {
  border-right: none;
}
.bottom {
  border-bottom: none;
}
button {
  height: 40px;
  width: 250px;
  background-color:red;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
}
.text{
  color:green;
  margin-top: 20px;
  font-size: 50px;
}